@model ViewModel

<div id="DownloadPlaceHolder" class="hidden">
	<div class="filesuccess">
		<label id="SuccessMessage">@Model.SuccessMessage</label>
		

		<div class="watermark">
			
			<textarea id="txtOCRText" name="txtOCRText" readonly="readonly" style="max-height:1000px;cursor:default;" class="form-control" aria-describedby="basic-addon2"></textarea>
		</div>
		<div class="clearfix">&nbsp;</div>
		<a href="@Model.AppURL" class="btn btn-link refresh-c">@Model.AnotherFileText &nbsp;<i class="fa-refresh fa"></i></a>

	</div>    
    
</div>